.emoji {
	display: flex;
	flex-direction: column;
	padding-right: 0;
}
.emoji__list {
	margin-bottom: 20px;
}
.emoji__link {
	text-transform: uppercase;
	font-weight: 700;
	color: #495057;
}
.emoji__link.active {
	color: #007bff !important;
}
.emoji__inner {
	max-height: 90vh;
	overflow-x: hidden;
	overflow-y: auto;
}
.emoji__box {
	padding-left: 10px;
	margin-bottom: 25px;
}
.emoji__icon {
	padding: 0;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 10px;
	font-size: 24px;
	cursor: pointer;
}